*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    background-color:#009988;
}

body {
    background-color: #d7dbd4;
}

/*finestra modale web app*/
.modal {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    height: calc(100% - 70px);
    width:  90%;
    display: flex;
}

/*colonna varie chat*/
.nav-chat {
    width: 30%;
    height: 100%;
}

/*regole barra grigia*/
.nav-chat .top-nav {
    width: 100%;
    height: 60px;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-chat .top-nav .avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}

.nav-chat .top-nav .icons {
    margin-right: 15px;
}

/*barra cerca*/
.search-bar {
    background-color: #f8f8f8;
    padding: 10px;
} 

.search {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-image: url('../assets/icona4.svg');
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 5px 4px;
    background-color: white;
}

.nav-chat .top-nav .icons img {
    margin-left: 15px;
}

/*regole blocco notifiche*/
.nav-chat .notifiche {
    height: 80px;
    background-color: #9de1fe;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.nav-chat .notifiche img {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}
.nav-chat .notifiche h2 {
    font-size: 17px;
}
.nav-chat .notifiche h3 {
    font-size: 15px;
    color: #457688;
    font-weight: lighter;
    text-decoration: underline;
}

/*regole varie chat*/
.chats {
    display: flex;
    flex-direction: column;
    height: calc((100% - 70px) - 120px);
    overflow-y: scroll;
    background-color: white;

}

.chats .single-chat {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.chats .single-chat img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 15px;
}

.chats .selected-chat {
    background-color: #eeeeee;
}

.chats .single-chat span {
    align-self: flex-start;
    margin-top: 10px;
} 

.chats .single-chat .container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.chats .container .anteprima {
    color: grey;
    font-size: 13px;
}

.chats .orario {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
}




/*regole pagina conversazione*/
.chat {
    width: 70%;
    height: 100%;
    background-image: url(../assets/sfondochat.jpg);
    position: relative;
}
/*regole barra top*/
.chat .top-bar {
    height: 60px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid lightgrey;
}

.chat .top-bar .nome-chat-img{
    display: flex;
    margin-left: 15px;
}

.chat .top-bar .nome-chat-img .nome-chat{
    margin-left: 20px;
}

.chat .top-bar .nome-chat-img .img img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.chat .top-bar .icons {
    margin-right: 15px;
}
.chat .top-bar .icons img {
    margin-left: 20px;
}

.chat .top-bar h5 {
    color: grey;
    font-weight: lighter;
}

.send {
    display: none;
    height: 20px;
    width: 20px;
}
button {
    border: none;
    margin-right: 20px;
}

/*regole barra di invio*/
.chat .barra-invio {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    padding: 0 15px;
}

.chat .barra-invio input {
    width: 80%;
    height: 40px;
    margin: auto;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}

/*regole conversazione*/
.chat #conversazione {
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px 15px;
}


#template {
    display: none;
}

.msgsent {
    background-color: #dcf8c6;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 40px;
    margin-top: 20px;
    position: relative;
}

.msgsent .testo {
    font-size: 20px;
    margin-right: 15px;
}
.msgsent .orario {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 25px;
}

.msgsent img {
    position: absolute;
    bottom: 0;
    right: 5px;
}
